<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <head th:replace="layout/layout :: head"></head>
</head>
<body class="bg-light">
<header th:replace="layout/layout :: header"></header>
<div class="container">
  <br/>
<h2 th:text="${title}"></h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Editar nombre</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="habilidad: ${habilidades}">
    <td th:text="${habilidad.getId()}"></td>
    <td th:text="${habilidad.getNombre()}"></td>
    <td><a th:text="editar" class="btn btn-primary active"></a></td>
  </tr>
  </tbody>

</table>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
