<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
    />
</head>
<body>
<header th:fragment="header">
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/entrenador/">Pokedex-Lite</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/entrenador/}">Entrenadores</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/pokemon/}">Pokemones</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/pokemon/agregar}">Agregar un Pokemon (Base Global)</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/habilidad/}">Habilidades</a>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/tipo/}">Tipos</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>
</header>

<div class="container"></div>

<footer th:fragment="footer" class="container">
    <hr />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"
    ></script>
</footer>
</body>
</html>