<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

    <head th:replace="layout/layout :: head"></head>
</head>

<body>
    <header th:replace="layout/layout :: header"></header>
    <div class="container"> 
        <br/>
    <h2 th:text="${title}"></h2>
    
    <form th:action="@{guardarPokemon/}" th:object="${pokemonEntrenado}" method="post" enctype="multipart/form-data">

        <label>Nivel pokemon
            <input type="number" th:field="*{nivelActual}" class="form-control form-control" required placeholder="Ingrese nivel"/>
            
        </label><br>

        <label>Selecione pokemon
            <select  th:field="*{idPokemon}" class="form-select">
                <option th:each="pokemon: ${pokemones}" th:id="${pokemon.getId()}" th:value="${pokemon.getId()}" th:text="${pokemon.getNombre()}">
                </option>
            </select> <br>
            <input type="submit" value="Agregar pokemon" class="form-control form-control" />
        </label>
        
        <br>
        
    </form>
</div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>