<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <head th:replace="layout/layout :: head"></head>
</head>
<body>
<header th:replace="layout/layout :: header"></header>
<h2 th:text="${title}"></h2>
<br/>
<form th:action="@{guardar/}" th:object="${pokemonAGuardar}" method="post" enctype="multipart/form-data">
    <div>

        <label> Modifique nombre
        </label><br>

        <label for="" th:text= "'Nombre Actual '+${pokemonActual.getNombre}+':'">
        </label>
        <input type="text" th:field="*{nombre}" required/>
 
        </label>
    </div>
    <input type="submit" value="Guardar cambios"/>
</form>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>