<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <head th:replace="layout/layout :: head"></head>
</head>
<body class="bg-light">
<header th:replace="layout/layout :: header"></header>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br/>
        <h2 th:text="${title}"></h2>
        <a th:href="@{/entrenador/form}"  class="btn btn-primary active">Nuevo entrenador</a>  
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>

                <th scope="col">Nombre</th>
                <th scope="col">Pokemones</th>
                <th scope="col">Editar nombre</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entrenador: ${entrenadores}">
                <!-- <td th:text="${entrenador.getId()}"></td> -->
                <td th:text="${entrenador.getNombre()}"></td>
                <td><a th:href="@{'/entrenador/'+${entrenador.getId()}+'/pokemones/'}" th:text="listar" class="btn btn-primary active"></a></td>
                <td><a th:text="editar" class="btn btn-primary active"></a></td>
            </tr>
            </tbody>

        </table>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>