<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout/layout :: head"></head>
  </head>
  <body class="bg-light">
  <header th:replace="layout/layout :: header"></header>
  <br>
  <div class="container">

<h2 th:text="${title}"></h2>

<form th:action="@{guardar/}" th:object="${entrenador}" method="post" enctype="multipart/form-data">
    <div>
        <input type="hidden" th:field="*{id}"/> <!-- para levantar en id pasado en caso de edición-->
        <label> Nombre de entrenador
            <input type="text" th:field="*{nombre}" required class="form-control form-control" placeholder="Ingrese su nombre"/>
        </label>
    
    <input type="submit" value="Guardar Entrenador" class="btn btn-primary active"/>
</div>
</form>
</div>
</body>
</html>