<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <head th:replace="layout/layout :: head"></head>
  </head>
  <body class="bg-light">
  <header th:replace="layout/layout :: header"></header>

<br/>
<!-- <div>
    <label>ID: </label>
    <label th:text="${entrenador.getId()}"></label>
</div> -->
<div class="container"> 
    <h2 th:text="${title}"></h2>
<div>
    <label>Nombre entrenador: </label>
    <label th:text="${entrenador.getNombre()}"></label>
</div>
<br>
<div>
    <a th:href="@{'/entrenador/'+${entrenador.getId()}+'/nuevoPokemon/'}" class="btn btn-primary active">add Pokemon</a>
</div>
<br/>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Nivel Actual</th>
        <th>Tipos</th>
        <th>Habilidades</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemonEntrenamiento: ${entrenador.getPokemonsEntrenamiento()}">
        <td th:text="${pokemonEntrenamiento.getPokemon().getNombre()}"></td>
        <td th:text="${pokemonEntrenamiento.getNivelActual()}"></td>
        <td>
            <dl th:each="tipo: ${pokemonEntrenamiento.getPokemon().getTipos()}">
                <dd th:text="${tipo.getNombre()}"></dd>
            </dl>

        </td>
        <td>
            <dl th:each="habilidad: ${pokemonEntrenamiento.getPokemon().getHabilidades()}">
                <dd th:text="${habilidad.getNombre()}"></dd>
            </dl>

        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>