<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>

  <head th:replace="layout/layout :: head"></head>
</head>

<body class="bg-light">
  <header th:replace="layout/layout :: header"></header>
  <br/>
  <div class="container">
    <h2 th:text="${title}"></h2>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Editar nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="tipo: ${tipos}">
          <td th:text="${tipo.getId()}"></td>
          <td th:text="${tipo.getNombre()}"></td>
          <td><a th:text="editar" class="btn btn-primary active"></a></td>
        </tr>
      </tbody>

    </table>
  </div>
  <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>